.logo {

    display: block;
    margin: 0 auto;
    margin-top: 12px;

}

#senha-input > .col {

    padding-left: 0px;

}

.senha-input > .row > .col {

    padding-right: 0px;

}

h1 {

    margin-bottom: 0px;

}

.cpf-input {

    .header {

        padding: 0px;

        .col {

            padding: 0px;

        }

    }

}

#senha-input {

    padding: 0px;

    button {

        padding-right: 0px;

    }

}

ion-footer-bar {

    height: 93px !important;
    background-color: $roxoEscuro !important;
    border: none !important;

    h1 {

      margin-top: 30px !important;
      width: 100% !important;

    }

}
