<ion-view hide-nav-bar="true" id="login" ng-init="auth()">

    <ion-content>

        <div class="container-fluid">
            <div class="row" id="header">
                <img class="logo" src="../../img/logo.png">
            </div>
        </div>

        <div class="container">
            <div class="row" id="body">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <h1>LOGIN</h1>
                        </div>

                        <div class="col-sm-6">

                            <form id="formLogin" ng-submit="doLogin()">
                                <div class="cpf-input">
                                    <div class="row">
                                        <div class="col col-offset-10 col-80" class="input-label">
                                            <div class="row header">
                                                <div class="col-xs-6">
                                                    <label for="cpf">CPF</label>
                                                </div>
                                                <div class="col-xs-6" style="text-align: right;">
                                                    <label>ex.:01201234109</label>
                                                </div>
                                            </div>
                                            <input mask="99999999999" name="cpf" ng-init="loginData.cpf='07425677709'" type="text" ng-model="loginData.cpf" />
                                        </div>
                                    </div>
                                </div>

                                <div class="senha-input">
                                    <div class="row">
                                        <div class="col col-offset-10 col-80" class="input-label">
                                            <label for="cpf">SENHA</label>
                                            <div id="senha-input" class="row">
                                                <div class="col-xs-10">
                                                    <input name="cpf" type="password" ng-model="loginData.senha" />
                                                </div>
                                                <div class="col-xs-2" style="padding-left: 10px;">
                                                    <button type="submit" style="padding-left: 0px;  width: 100%;">
                                                        <img style="height: 50px; width: 100%;" src="../../img/buttonNext.png">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-options">
                                    <div class="row">
                                        <div  class="col-xs-6" style="padding: 0px;"><a href="#" style="font-size: 12px;" ng-click="onClickEsqueciSenha()">Esqueci minha senha</a></div>
                                        <div class="col-xs-6">
                                            <label class="checklabel" style="text-align: right;">
                                                <input type="checkbox" ng-model="remember.value"> Manter conectado
                                            </label>
                                        </div>
                                    </div>
                                </div>

    <!--
                                <div class="">
                                    <div class="row">

                                        <div class="col-xs-12" style="text-align: center; cursor: pointer;" ng-controller="vendasController" ng-click="vendaNaoCadastrada()">
                                            <button class="button button-vivo">
                                                Lançar venda - Não cadastrados.
                                            </button>

                                        </div>

                                    </div>
                                </div>
    -->


                            </form>
                        </div>

                        <div class="col-sm-3">

                            <a href="#" ng-click="onClickCadastrar()">
                                <ion-footer-bar align-title="left" class="bar-balanced">
                                    <h1 style="margin-top: 70px !important; line-height: 30px;">Não sou cadastrado!</h1>
                                </ion-footer-bar>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
