<div class="modal-personalizado">
	<div class="modal-header ">
		<h2> Extrato</h2>
		<div class="close glyphicon glyphicon-remove" ng-click="cancel()"></div>
	</div>
	<div class="modal-body" style="margin-left: 25px;" ng-controller="extratoController" ng-init="getData()">
		<div class="row tiles">

			<div class="col-md-6 tile">
				<span class="title">PONTOS ACUMULADOS</span>
				<span class="value acumulados" style="color:#8dc73f">{{saldo.pontosAcumulados}}</span>
			</div>

			<div class="col-md-6 duple">
				<div class="tile" style="margin-bottom: 20px;">
					<span class="title">PONTOS UTILIZADOS</span>
					<span class="value utilizados" style="color:#6d2c91">{{saldo.pontosUtilizados}}</span>
				</div>
				<div  class="tile">
					<span class="title">PONTOS DISPONÍVEIS</span>
					<span class="value disponiveis" style="color:#ed1c24">{{saldo.saldo}}</span>
				</div>
			</div>

		</div>
		<div class="tablemodal">
		<div class="row headertable" style="margin-right:20px; margin-top:10px;">
			<div class="col-md-3">
				DATA
			</div>

			<div class="col-md-7">
				DESCRIÇÃO
			</div>

			<div class="col-md-2">
				PONTOS
			</div>
		</div>		

		<div ng-repeat="extract in extractList"  ng-class="{itemGray: $index%2 == 0}">
			
			<div class="tablecss row">
				<div class="col-md-3">
					{{extract.dataRegistro}} 
				</div>

				<div class="col-md-7">
					{{extract.descricao}}
				</div>

				<div class="col-md-2">
					<div ng-hide="extract.status == 'bloqueado'" ng-class="{validando: extract.status == 'pendente'}">
						{{extract.pontos}}
					</div>
					
				</div>
			</div>


		</div>
		</div>

	</div>
</div>