


		<div class="modal-personalizado">
			<div class="modal-header ">
				<h2> Minhas Vendas</h2>
				<div class="close glyphicon glyphicon-remove" ng-click="cancel()"></div>
			</div>
			<div class="modal-body" style="margin-left: 25px;     margin-right: 20px;" ng-controller="vendasController" ng-init="listarVendas()">
				<div class="list">
					<div >


						<div class="tablemodal">
							<div class="row headertable" style=" margin-top:10px;">
							<div class="col-md-2">
									DATA

								</div>
								<div class="col-md-1">
									DDD

								</div>
								<div class="col-md-3">
									LINHA
								</div>
								<div class="col-md-4">
									PRODUTO
								</div>
								<div class="col-md-2">
									PONTOS
								</div>
							</div>

							<hr>
							<div  ng-repeat="venda in vendasList" class="item item-thumbnail-left" ng-class="{itemGray: $index%2 == 0}">
								<div class="tablecss row">

									<div class="col-md-2">
										{{venda.dataRegistro | date:'shortDate'}}

									</div>
									<div class="col-md-1">
										{{venda.DDD}}
									</div>
									<div class="col-md-3">
										{{venda.linha}}
									</div>
									<div class="col-md-4">
										{{venda.labelPlano}}
									</div>
									<div class="col-md-2">
										{{venda.pontos}}
									</div>
									
									
									
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>