


<div class="modal-personalizado">
	<div class="modal-header ">

		<div class="close glyphicon glyphicon-remove" ng-click="cancel()"></div>
	</div>
	<div class="modal-body textomodal" style="margin-left: 25px; margin-top:-10px" >
		<h2>REGULAMENTO</h2>

		<p>Programa de Incentivo</p>

		<p>TURBINE SUAS VENDAS</p>

		<p>Promotora</p>

		<p>Icons4U</p>

		<p>1. Condi&ccedil;&otilde;es Gerais de Participa&ccedil;&atilde;o:</p>

		<p>1.1. O programa &ldquo;TURBINE SUAS VENDAS&rdquo;, doravante denominado &ldquo;Programa&rdquo;, &eacute; institu&iacute;do pela Icons4U sendo destinado aos: vendedores e gerentes de loja das redes de varejo que concordarem com esse Regulamento. 2. Objetivos do Programa:</p>

		<p>2.1. O presente programa &ldquo;TURBINE SUAS VENDAS&rdquo; tem como objetivo incentivar o crescimento do volume de vendas do(s) &ldquo;Produto(s) Participante(s)&rdquo; (item 7.1 deste Regulamento) e dos Servi&ccedil;os da VIVO (item 7.2), de acordo com as condi&ccedil;&otilde;es definidas no presente Regulamento.</p>

		<p>2.2. A participa&ccedil;&atilde;o neste Programa &eacute; volunt&aacute;ria e gratuita, n&atilde;o havendo qualquer san&ccedil;&atilde;o aos colaboradores que optarem por n&atilde;o participar.</p>

		<p>2.2.1. A participa&ccedil;&atilde;o no presente Programa n&atilde;o implicar&aacute; ainda no recebimento e/ou direito &agrave; estabilidade empregat&iacute;cia, nem qualquer outro benef&iacute;cio de car&aacute;ter trabalhista. Os pr&ecirc;mios s&atilde;o meramente pontuais, restritos a esta a&ccedil;&atilde;o de incentivo e n&atilde;o constituem incorpora&ccedil;&atilde;o salarial de qualquer esp&eacute;cie.</p>

		<p>3. Ades&atilde;o e Aceita&ccedil;&atilde;o das Condi&ccedil;&otilde;es Gerais de Participa&ccedil;&atilde;o</p>

		<p>3.1. Todos os participantes convidados est&atilde;o aptos a participar do Programa sem qualquer &ocirc;nus para &agrave;queles que n&atilde;o atingirem os resultados propostos.</p>

		<p>3.2. Os participantes autorizam a Promotora a enviar comunicados informativos relativos exclusivamente &agrave; este Programa para o n&uacute;mero de celular fornecido pelo VENDEDOR. </p>

		<p>REGULAMENTO</p>

		<p>3.3. Todos os participantes ter&atilde;o acesso ao hotsite www.campanhaturbinesuasvendas.com.br ou aplicativo para celular onde precisam se cadastrar, ler o regulamento e aceitar as regras estabelecidas pela Promotora para estarem aptos &agrave; participa&ccedil;&atilde;o.</p>

		<p>4. Participantes:</p>

		<p>4.1. Ser&atilde;o eleg&iacute;veis &agrave; participa&ccedil;&atilde;o do Programa os vendedores e gerentes de lojas do Varejo convidados pela promotora que aceitarem o Regulamento via hotsite ou aplicativo mobile.</p>

		<p>5. &Aacute;rea de Execu&ccedil;&atilde;o:</p>

		<p>5.1.Cidades Participantes.</p>

		<p>6. Per&iacute;odo de Participa&ccedil;&atilde;o:</p>

		<p>6.1. O presente Programa ter&aacute; in&iacute;cio a 0 (zero) hora do dia 23/11/2015 e t&eacute;rmino &agrave;s 23 (vinte e tr&ecirc;s) horas e 59 (cinquenta e nove) minutos do dia 23/02/2016 hor&aacute;rio oficial de Bras&iacute;lia.</p>

		<p>7. Planos e Servi&ccedil;os Participantes:</p>

		<p>7.1 &ndash; Habilita&ccedil;&atilde;o Vivo Pr&eacute; + Cadastro na Promo&ccedil;&atilde;o Vivo Tudo.</p>

		<p>7.2 &ndash; Habilita&ccedil;&atilde;o Vivo Pr&eacute; + Cadastro na Promo&ccedil;&atilde;o Vivo Tudo + Recarga em D0 &#8805; 12,00 (ou R$8 para os DDDs 81, 82, 83, 84, 85, 86, 87, 88 e 89)</p>

		<p>7.3 &ndash; Habilita&ccedil;&atilde;o Vivo Controle &ndash; (todas as franquias)</p>

		<p>7.4 &ndash; Habilita&ccedil;&atilde;o Vivo Internet M&oacute;vel Pr&eacute; &ndash; 400MB e 600MB</p>

		<p>7.5 &ndash; Habilita&ccedil;&atilde;o Internet P&oacute;s</p>

		<p>7.6 &ndash; Habilita&ccedil;&atilde;o Vivo Fixo</p>

		<p>8. Metas e Objetivos:</p>

		<p>8.1. Os Participantes ter&atilde;o como objetivo cadastrar as vendas referentes aos planos participantes, ligando gratuitamente para 0800 220 1208, ou pelo hotsite, ou pelo aplicativo disponibilizado para celular.</p>

		<p>REGULAMENTO</p>

		<p>8.2. Todas as vendas cadastradas ser&atilde;o validadas pela Promotora e o vendedor receber&aacute; um SMS em seu n&uacute;mero do Vivo cadastrado na campanha confirmando sua pontua&ccedil;&atilde;o. Em caso de d&uacute;vida ele poder&aacute; consultar seus pontos no hotsite do programa ou aplicativo para celular, acessando com seu login e senha pessoais.</p>

		<p>8.2. Semanalmente contabilizaremos os resultados, validando as vendas cadastradas e informaremos a pontua&ccedil;&atilde;o dos participantes no hotsite ou aplicativo para celular.</p>

		<p>8.3. Pontua&ccedil;&atilde;o:</p>

		<p>Obs.: Habilita&ccedil;&otilde;es Vivo Pr&eacute; 400MB/600MB j&aacute; possuem a recarga contabilizada em seus 15 pontos.</p>

		<p>8.3.1 &ndash; Os gerentes de loja ganham 25% dos pontos das vendas validadas no CNPJ da sua loja.</p>

		<p>8.4. A apura&ccedil;&atilde;o ser&aacute; feita pela Promotora e comunicada semanalmente por SMS para todos os vendedores e gerentes de loja e poder&aacute; ser consultada no site www.campanhaturbinesuasvendas.com.br ou aplicativo para celular por meio de login e senha pessoais.</p>

		<p>REGULAMENTO</p>

		<p>9. Apura&ccedil;&atilde;o dos Resultados:</p>

		<p>9.1. Fica previamente determinado que as ativa&ccedil;&otilde;es realizadas, antes ou ap&oacute;s o per&iacute;odo de realiza&ccedil;&atilde;o do programa aqui estipulado, ser&atilde;o prontamente desconsideradas. Caso o vendedor se desligue da Rede no per&iacute;odo da campanha, sua pontua&ccedil;&atilde;o ser&aacute; automaticamente cancelada.</p>

		<p>9.2. Para a apura&ccedil;&atilde;o dos resultados deste Programa ser&atilde;o emitidos relat&oacute;rios peri&oacute;dicos pela Promotora, onde constar&atilde;o as informa&ccedil;&otilde;es relativas &agrave;s ativa&ccedil;&otilde;es dos servi&ccedil;os participantes, dentro do per&iacute;odo de participa&ccedil;&atilde;o v&aacute;lido.</p>

		<p>9.3. Para serem v&aacute;lidas as vendas precisam ser cadastradas dentro do m&ecirc;s de venda, caso contr&aacute;rio ser&atilde;o desconsideradas.</p>

		<p>10. Divulga&ccedil;&atilde;o de resultados e premia&ccedil;&atilde;o</p>

		<p>10.1. Os resultados ser&atilde;o divulgados pela Promotora via Hotsite do programa.</p>

		<p>10.2. Os participantes ter&atilde;o acesso ao hotsite do Programa onde poder&atilde;o resgatar pr&ecirc;mios com os pontos adquiridos. Ap&oacute;s resgate via hotsite, a entrega de pr&ecirc;mios ocorrer&aacute; em at&eacute; 30 (trinta) dias e ser&aacute; realizada atrav&eacute;s da Promotora do programa.</p>

		<p>10.3. Todos os pr&ecirc;mios ser&atilde;o nominais aos ganhadores Participantes do Programa e intransfer&iacute;veis.</p>

		<p>10.4. Para o participante receber a premia&ccedil;&atilde;o &eacute; condi&ccedil;&atilde;o que fa&ccedil;a parte do quadro de funcion&aacute;rios das redes participantes no momento do resgate.</p>

		<p>10.5. N&atilde;o ser&aacute; permitida a comercializa&ccedil;&atilde;o e/ou troca do pr&ecirc;mio por qualquer outro.</p>

		<p>10.6. A responsabilidade da Promotora em rela&ccedil;&atilde;o aos participantes cessar&aacute; com a entrega dos pr&ecirc;mios.</p>

		<p>10.7. Pr&ecirc;mios</p>

		<p>Um cat&aacute;logo de pr&ecirc;mios f&iacute;sicos de diversas categorias ser&aacute; disponibilizado para resgate, n&atilde;o podendo ser trocado por valor em dinheiro.</p>

		<p>O vendedor poder&aacute; trocar seus pontos por qualquer produto de valor equivalente.</p>

		<p>REGULAMENTO</p>

		<p>11. Disposi&ccedil;&otilde;es Gerais</p>

		<p>11.1. Todas as despesas, taxas, impostos e emolumentos necess&aacute;rios para o recebimento e utiliza&ccedil;&atilde;o dos Pr&ecirc;mios ser&atilde;o de responsabilidade da Promotora do Programa.</p>

		<p>11.2. As atividades previstas neste Programa ser&atilde;o realizadas com independ&ecirc;ncia e sob responsabilidade dos Participantes, sem qualquer depend&ecirc;ncia econ&ocirc;mica entre os participantes e a(s) Promotora(s), tampouco qualquer tipo de subordina&ccedil;&atilde;o e/ou pessoalidade entre a(s) Promotora(s) e os Participantes ou seus colaboradores, sendo inexistente, portanto, qualquer v&iacute;nculo empregat&iacute;cio ou subordina&ccedil;&atilde;o hier&aacute;rquica entre estes.</p>

		<p>11.3. Na hip&oacute;tese de conflito entre o disposto neste Regulamento e o disposto nos demais materiais de divulga&ccedil;&atilde;o do Programa, prevalecer&aacute; o disposto neste Regulamento.</p>

		<p>11.4. As omiss&otilde;es ou conflitos deste Regulamento ser&atilde;o solucionados, de forma soberana e irrecorr&iacute;vel, por uma comiss&atilde;o formada pela Promotora.</p>

		<p>11.5. N&atilde;o caber&aacute; qualquer recurso, questionamento e/ou pedido de reconsidera&ccedil;&atilde;o quanto &agrave; decis&atilde;o do presente Programa.</p>

		<p>11.6. A mera participa&ccedil;&atilde;o/ades&atilde;o neste Programa caracterizar&aacute; a aceita&ccedil;&atilde;o total e irrestrita de todos os termos e condi&ccedil;&otilde;es deste Regulamento. O Participante ser&aacute; automaticamente exclu&iacute;do desta Campanha, no caso de fraude ou m&aacute;-f&eacute; comprovada, sendo que seus representantes responder&atilde;o criminalmente por tais atos.</p>

		<p>11.7. As d&uacute;vidas relacionadas ao presente Programa poder&atilde;o ser solucionadas via hotsite.</p>

		<p>11.8. Caber&aacute; &agrave; Promotora o direito de exclus&atilde;o de todo e qualquer participante que, porventura, venha a descumprir as regras de participa&ccedil;&atilde;o definidas por este instrumento e/ou outros materiais de comunica&ccedil;&atilde;o.</p>

		<p>11.9. A presente Campanha poder&aacute; ser alterada, suspensa e/ou cancelada por motivos de for&ccedil;a maior, alheios ao controle da(s) Promotora(s) ou que, de alguma forma, impe&ccedil;am a continuidade da a&ccedil;&atilde;o, conforme originalmente planejada. Ainda, poder&aacute; a Promotora modificar regras, premia&ccedil;&atilde;o e/ou crit&eacute;rios da Campanha (preservados os direitos das partes envolvidas), sem aviso pr&eacute;vio.</p>

		<p>REGULAMENTO</p>

		<p>11.10. Os participantes concordam em autorizar o uso de suas imagens, sons de voz e nomes, em filmes, v&iacute;deos, fotos e cartazes, an&uacute;ncios em jornais e revistas, pelo prazo 1 (um) ano ap&oacute;s o encerramento desta promo&ccedil;&atilde;o, para divulga&ccedil;&atilde;o de sua participa&ccedil;&atilde;o na promo&ccedil;&atilde;o, bem como da conquista do pr&ecirc;mio, sem nenhum &ocirc;nus para a Promotora.</p>

		<p>11.11. A&ccedil;&atilde;o mercadol&oacute;gica &eacute; caracterizada como programa de incentivos de vendas, sem qualquer modalidade de &aacute;lea ou pagamento pelos participantes, nem vincula&ccedil;&atilde;o desses &agrave; aquisi&ccedil;&atilde;o ou uso de qualquer bem, direito ou servi&ccedil;o, destinada aos participantes que manifestamente declararem sua ades&atilde;o.</p>
	</div>
</div>