


<div class="modal-personalizado">
	<div class="modal-header ">

		<div class="close glyphicon glyphicon-remove" ng-click="cancel()"></div>
	</div>
	<div class="modal-body textomodal" style="margin-left: 25px; margin-top:-10px" >

		<h2>Como recebo meus prêmios?</h2>
		<p>Acesse www.turbinesuasvendas.com.br e cadastre-se para ver os prêmios disponíveis e escolher o que você quiser com sua pontuação. A entrega de prêmios será feita em até 45 dias após o resgate no hotsite.</p>

		<h2>Tenho uma dúvida! </h2>
		<p>Para enviar uma pergunta acesse: www.turbinesuasvendas.com.br e, no topo do hotsite, clique em ajuda.</p>

		<h2>Participação</h2>
		<p>A participação no Turbine sua Casa é voluntária e gratuita, não havendo qualquer sanção aos colaboradores. Os vendedores que optarem por participar da campanha serão cadastrados e se identificarão com seus CPFs ao ligar com o chip da venda para cadastrá-la.
<Br> <Br>
			Após seguir as instruções, o vendedor receberá confirmação, ao fim da ligação e </p>

		</div>
	</div>