#extrato {
    ion-content {
        
        background-color: white;
        background: white;

    }

    * {

    	color: #4A4A4A;
    	font-size: 14px;

    }

    .validando {

        background-color: #F1131C !important;

    }

    .itemGray {

    	background-color: #EBEBEC;

    }

    .list {

    	margin-top: 0px;

    }

    span.title {
    
        font-size: 10px;
        display: inline-block;
        line-height: 14px;

    }

    span.value {
    
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0px;
        display: inline-block;
        margin: 15px 0px;   

    }

    .row.tiles .col  {

        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: #838383;
        border-radius: 8px;
        padding: 10px 0px;
        margin: 2px;
    }

    span.acumulados {

        color: #F68F11;

    }

    span.bloqueados {

        color: #5E5D60;

    }

    span.utilizados {

        color: #F1131C;

    }

    span.disponiveis {

        color: #8CC33E;

    }

    .tiles {

        margin-bottom: 20px;

    }

    .header .col {

        text-align: center;
        font-size: 11px;

    }

    .fundoPontos {

        text-align: center;

    }

    .fundoPontos > div {

        text-align: center;
        font-size: 12px;
        background-color: #92C844;
        width: 25px;
        border-radius: 6px;
        color: white;
        font-size: 14px;
        display: inline-block;

    }

}
