#home {

    text-align: center;

    .tile-button {
        cursor:pointer;    
    }

    .tile-button {

        background-color: white;
        height: 172px;
        width: 125px;
        border-radius: 5px;
        box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.22);
        padding-top: 40px;
        display: inline-block;
        width: 100%;

        i,span {

            color: #6d2b91;
            text-align: center;
            display: block;

        }

        i {
            font-size: 60px;
        }

        span {

            font-size: 10px;
        }

    }

    .has-header {

        top: 79px;

    }

    ion-content {

        padding-top: 50px;

    }

    .copyright {

        position: absolute;
        display: block;
        text-align: center;
        bottom: 20px;
        font-size: 10px;
        width: 100%;

    }

}
