<ion-view id="extrato" view-title="EXTRATO" ng-init="getData()">

    <ion-content>

    	<div class="row tiles">

    		<div style="margin-left: 12%" class="col col-offset-25 col-25">
    			<span class="title">PONTOS ACUMULADOS</span>
    			<span class="value acumulados">{{saldo.pontosAcumulados}}</span>
    		</div>
    
    		<div class="col col-25">
    			<span class="title">PONTOS UTILIZADOS</span>
    			<span class="value utilizados">{{saldo.pontosUtilizados}}</span>
    		</div>
    		<div class="col col-25">
    			<span class="title">PONTOS DISPONÍVEIS</span>
    			<span class="value disponiveis">{{saldo.saldo}}</span>
    		</div>

    	</div>

		<div class="row header">
			<div class="col col-25">
				DATA
			</div>

			<div class="col">
				DESCRIÇÃO
			</div>

			<div class="col col-20">
				PONTOS
			</div>
		</div>		

		<div ng-repeat="extract in extractList" ng-class="{itemGray: $index%2 == 0}">
			
			<div class="row">
				<div class="col col-25">
					{{extract.dataRegistro}} 
				</div>
 
				<div class="col">
					{{extract.descricao}}
				</div>

				<div class="col col-20 fundoPontos">
					<div ng-hide="extract.status == 'bloqueado'" ng-class="{validando: extract.status == 'pendente'}">
						{{extract.pontos}}
					</div>
                    <div ng-show="extract.status == 'bloqueado'" style="background-color: gray;">
						X
					</div>
				</div>
			</div>


		</div>
    </ion-content>

</ion-view>
