<ion-view hide-nav-bar="true" id="cadastrar">

    <ion-content>

        <div class="row" id="header">
            <img class="logo" src="../../img/logo.png">
        </div>

        <div class="container">
            <div class="row" id="body">
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
                    <div class="row">
                        <div class="col-sm-3">
                            <h1>CADASTRAR</h1>
                        </div>

                        <div class="col-sm-6">

                            <form id="formLogin" ng-submit="verificaCPF()">
                                <div class="cpf-input">
                                    <div class="row">
                                        <div class="col-xs-12" class="input-label">
                                            <div class="row header">
                                                <div class="col-xs-6">
                                                    <label for="cpf">CPF</label>
                                                </div>
                                                <div class="col-xs-6" style="text-align: right;">
                                                    <label>ex.:01201234109</label>
                                                </div>
                                            </div>
                                            <input mask="99999999999" name="cpf" type="text" ng-model="cadastro.cpf" />
                                        </div>
                                        <div class="col-xs-12" class="input-label">
                                            <button class="btn-block button button-vivo button-block">Avançar</button>
                                        </div>
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>
