<ion-view id="exibirCpf" view-title="DETALHES" ng-init="getDados()">

<ion-content>


<div class="row" id="header">
    <img class="logo" src="../../img/logo.png">
</div>
<div class="container">
    <div style="text-align:center">
    <h2 style="font: 700 28px/20px OfficinaSerif;
    margin-bottom: 30px;     margin-top: 70px;">Dados:</h2>
    </div>
    <div class="formulario">
        <div class="row">
            <div class="col">
                <div class="titulo">NOME</div>
                <div class="dado">{{dados.nomePromotor}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="titulo">CPF</div>
                <div class="dado">{{dados.CPF}}</div>
            </div>
            <div class="col col-offset-20">
                <div class="titulo">CELULAR</div>
                <div class="dado">{{dados.celular}}</div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <div class="titulo">REDE</div>
                <div class="dado">{{dados.nomeRede}}</div>
            </div>
            <div class="col col-offset-20">
                <div class="titulo">CNPJ</div>
                <div class="dado">{{dados.CNPJ}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="titulo">ENDEREÇO</div>
                <div class="dado">{{dados.endereco}}</div>
            </div>
        </div>

        <div>
            <div id="banner-warn" class="row">
                <div class="col col-20"><i class="icon ion-android-warning"></i></div>
                <div class="col col-offset-10">
                    <div class="popup-body"><span>Em caso de erros cadastrais, procure seu Gerente de Contas Vivo.</span></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="titulo">GERENTE VIVO</div>
                <div class="dado">{{dados.nomeGC}}</div>
            </div>
            <div class="col col-offset-20">
                <div class="titulo">TELEFONE</div>
                <div class="dado">{{dados.celularGC}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="button button-block button-vivo" style="
                margin-left: 0px;
                float: right;
                " ng-click="setDataUpdateSenha()">{{btnMSG}}</button>
            </div>
        </div>
    </div>
</div>
</ion-content>

</ion-view>
