#cadastrar #header {
    
    height: 120px;
    box-shadow: 0px 5px 5px 0.00px rgba(0, 0, 0, 0.52);
    
}

#cadastrar #body {
    
    margin-top: 100px;
    
}

#cadastrar .button.button-vivo {
    
    height: 50px !important;
    margin-top: 30px;
    
}

#cadastrar input {
    
    color: black !important;
    
}

#cadastrar a{
    
    color: white;
    
}

#cadastrar h1 {
    
    margin-top: 80px !important;
    
}

#cadastrar .senha-input {
    
    margin-top: 15px;
    
}

#senha-input {
    
    margin-bottom: 20px;
    
}