body {
    background-color: #6d2c91;
}

#main-body {
    background-color: white;
    padding: 60px 0px;
    padding-bottom: 0px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    opacity: 1;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
    width: 100%;
}

.carousel-control.left img,
.carousel-control.right img {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control.left img {
    right: 150px;
}

.carousel-control.right img {
    left: 150px;
}

.carousel-indicators li {
    background-color: gray;
}

.carousel-indicators li.active {
    background-color: #6d2c91;
    font-size: 15px;
}

#participe {
    position: relative;
    background: url(../img/background_participe.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 500px;
    margin-left: -12px;
    margin-right: -12px;
}

#celular-download {
    background: url(../img/celular-download.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 558px;
    width: 100%;
    position: relative;
    top: -70px;
    left: 20px;
    z-index: 1;
}

#celular-download h1 {
    position: relative;
    top: 130px;
    text-align: left;
    left: 40px;
}

#celular-download h1:last-child {
    position: relative;
    top: 130px;
    font-size: 20px;
    text-align: left;
    left: 40px;
}

#celular-download img {
    position: relative;
    height: 241px;
    width: 258px;
    top: 200px;
    left: 20px;
}

#cortina {
    background: url(../img/cortina.png);
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
    background-size: 100%;
    margin-top: 20px;
}

.navbar-right > .row {
    margin-top: 10px;
}

#userName {
    font-size: 20px;
    margin-top: 2px;
}

#pointsTile {
    background-color: white;
    border-radius: 3px;
    height: 40px;
}

footer {
    margin: 0px -15px;
    position: relative;
    height: 50px;
    top: -110px;
    z-index: 2;
}

footer nav {
    height: 100% !important;
    background-color: #e5e5e5 !important;
    box-shadow: none !important;
}

ul.itens {
    margin-top: 20px;
}

#pointsTile * {
    font-size: 11px;
    color: black
}

#labelPoints {
    color: #8dc73f;
    font-size: 30px;
    margin-top: -10px;
    font-weight: 700;
}

#pointsTile {
    padding-top: 10px;
    height: 50px;
    color: #fff;
}

div#buttonPontos {
    margin-top: 4px;
}

ul.itens li {
    padding: 0px 10px;
}

#buttonVerExtrato {}

ul.itens li:hover {
    background-color: #f7941d;
    color: black;
    cursor: pointer;
}

.bolinha {
    width: 160px;
    height: 160px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 60px;
    line-height: 160px;
    margin-bottom: 30px;
}

.colicon h4 {
    font-family: arial;
    font-size: 14px;
}

.colicon {
    padding-left: 50px;
    padding-right: 50px;
}

.leftcol {
    text-align: left;
    padding-left: 80px!important;
    margin-top: 50px;
    border-right: 1px solid #fff;
}

.footerParticipe {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    position: absolute;
    display: inline-table;
}

.footerParticipe ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin: 0 auto;
}

.footerParticipe li {
    display: inline-flex;
    line-height: 60px;
}

.footerParticipe li a {
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
}

.textomodal h2 {
    font-family: OfficinaSerif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #f7941d;
}

.textomodal p {
    color: #888;
    line-height: 24px;
}

.col-xs-6 .row label {
    color: #FFFFFF;
    font-weight: bold;
}

#celular-download a {
    color: #fff!important;
}

#celular-download a:hover {
    color: #fff!important;
}

.row label {
    color: #FFFFFF;
    font-weight: bold;
}

.formulario .titulo {
    color: #B7B7B7!important;
    font-weight: bold!important;
}

.formulario {
    width: 450px;
    margin: 0 auto;
    background: #582475;
    border-radius: 3px;
    padding: 30px;
}

#exibirCpf #header {
    height: 120px;
    box-shadow: 0px 5px 5px 0.00px rgba(0, 0, 0, 0.52);
}

#dados #header {
    height: 120px;
    box-shadow: 0px 5px 5px 0.00px rgba(0, 0, 0, 0.52);
}

.NovaVendorForm {
    color: #ED9B28!important;
}

.NovaVendaForm label {
    color: #ED9B28;
    line-height: 40px;
    margin-left: 60px;
}

.NovaVendaForm input {
    border: 1px solid #ccc;
    width: 80%;
    margin-left: 5%;
}

.plano select {
    background-color: #ccc;
}

.NovaVendaForm select {
    border: 1px solid #ccc;
    width: 80%;
    margin-left: 5%;
    height: 50px;
    margin-bottom: 40px;
    margin-top: -20px;
}
