#login #header {
    
    height: 120px;
    box-shadow: 0px 5px 5px 0.00px rgba(0, 0, 0, 0.52);
    
}

#login #body {
    
    margin-top: 100px;
    
}

#login input {
    
    color: black !important;
    
}

#login a{
    
    color: white;
    
}

#login h1 {
    
    margin-top: 80px !important;
    
}

#login .senha-input {
    
    margin-top: 15px;
    
}

#senha-input {
    
    margin-bottom: 20px;
    
}