.modal-personalizado .close {
    background-color: #ED9B28;
    position: absolute;
    margin-top: -20px;
    right: -20px;
    width: 32px;
    height: 32px;
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
}


.modal-personalizado .icon-left {
    background-color: #ED9B28;
    position: absolute;
    margin-top: 0px;
    margin-left: -95px;
    width: 160px;
    height: 160px;
    opacity: 1;
    color: #fff;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
}


.modal-personalizado {
    color: #6d6e71;
    padding-bottom: 50px;
}

.modal-dialog {
    max-width: 600px;
    margin-top: 120px;
    width: 100%!important;
}

.modal-header {
    border-bottom: 0px;
}

.modal-personalizado .modal-body {
    color: #6d6e71;
    margin-left: 80px;
}

.modal-personalizado .modal-body h3 {
    margin-left: 20px;
    color: #6d6e71;
    font-family: OfficinaSerif;
}

.modal-personalizado .modal-body li {
    color: #6d6e71;
    line-height: 23px;
}
.modal-header .icon-left img {
    margin-top: 39px;
    width: 80px;
    height: 80px;
}

.vendas li{
    list-style: none;

}


.vendas li b{
    color: #6d6e71;

}
.vendas li span{
    color: #fff;
    background-color: #6d2c91;
    font-weight: bold;
    padding: 2px 7px;
    margin: 3px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 3px;
}
ul.vendas {
    margin-left: 0px;
    padding-left: 19px;
    margin-top: 40px;
}



.pontos li{
    width: 320px;
    color: #fff!important;
    list-style: none;
    color: #fff;
    background-color: #6d2c91;
    padding: 2px 7px;
    margin: 3px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 3px;
}


ul.pontos {
    margin-left: 0px;
    padding-left: 19px;
    margin-top: 40px;
}
.modal-body h3 b {
    color: #6D6E71;
}

.pontos span {
    float: right;
    color: #f7941d;
    font-weight: bold;
}

.modal-personalizado {
    max-height: 560px;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-header h2 {
    font-family: OfficinaSerif;
    color: #882BB8;
    font-weight: bold;
    margin-top: 4px;
    margin-left: 20px;
}
.tiles div.tile {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 10px;
}
.modal-body span.title {
    width: 100%;
    color: #6E6E6E;
    text-align: center;
    display: block;
}

.tile span.value {
    display: block;
    width: 100%;
    color: #ccc;
    font-size: 60px;
    text-align: center;
}

.duple .tile span.value{
    font-size: 22px;
}

.headertable>div {
    background-color: #ccc;
    line-height: 45px;
}
.tablecss {
 background-color: #efefef!important;
 color: #333!important;
}

.itemGray  .tablecss {
 background-color: #fff!important;
 color: #333!important;
}

.tablecss div {
    color: #333;

    line-height: 45px;
}

.tablemodal h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-left: -10px;
}


@media screen and (max-width: 620px) {
    #bannerInferior {
        display: none;
    }
    .modal-personalizado .icon-left {
        margin-left: -20px;
        width: 70px;
        height: 70px;
    }

  .modal-header .icon-left img {
    width: 35px;
    height: 35px;
    margin-top: 18px;
}

.modal-dialog {
    margin-left: 10px;
    right: 0px;
    width: 90%!important;
}
.modal-personalizado .modal-body {
    margin-left: 40px;
}.pontos li {
    width: 100%;
}

div#participe {
    padding-bottom: 160px;
}
.navbar-header img {
    left: 7px;
}
div#bannerInferior {
    margin-top: 100px;
}

.navbar-header img {
    width: 180px;
    left: 0px;
}
div#pointsTile {
    background-color: #6D2C91;
}
.margintt {
    margin-top: 20px;
    height: 90px;
}
h1#userName {
    text-align: right;
}
#cortina {
    display: none;
}

}
#form-email-ajuda label {
    color: #ED9B28;
}

ion-view {
  overflow: visible !important;
}