.navbar-default {
   
    height: 110px;
    background-color: #6d2c91;
    background-image: none;
    box-shadow: 0px 5px 5px 0.00px rgba(0, 0, 0, 0.52);
    border-radius: 0px;
    border-color: transparent;
    margin-bottom: 0px;
    
}

ion-view {
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6d2c91;
    overflow: hidden;
    
}

#bannerInferior .col{
    
    padding: 0px;
    
}

.navbar-header img {
    
    position: absolute;
    top: 10px;
    
    
}

#checarCpf .button {
  background-color: #f7941d;
  border: none;
  color: #67288B;
}

#exibirCpf .row {
  padding-left: 30px;
  padding-right: 30px;
}

#exibirCpf .titulo {
  color: rgba(255, 255, 255, 0.4);
  font: 400 10px/20px Arial;
}

#exibirCpf .dados {
  font: 400 12px/20px Arial;
  color: #ffffff;
}

#exibirCpf hr {
  margin-left: 30px;
  margin-right: 30px;
  height: 1px;
  background-color: #ffffff;
  border: none;
}

#exibirCpf #banner-warn {
  background-color: #f7941d;
  margin: 10px 10px;
  padding: 12px;
  border-radius: 5px;
}

#exibirCpf #banner-warn > div:first-child i {
  font-size: 60px;
  color: #67288B;
}

#exibirCpf #banner-warn .popup-body {
  padding: 0px;
}

#exibirCpf #banner-warn .popup-body span {
  color: #67288B;
}

#extrato ion-content {
  background-color: white;
  background: white;
}

#extrato * {
  color: #4A4A4A;
  font-size: 14px;
}

#extrato .validando {
  background-color: #F1131C !important;
}

#extrato .itemGray {
  background-color: #EBEBEC;
}

#extrato .list {
  margin-top: 0px;
}

#extrato span.title {
  font-size: 10px;
  display: inline-block;
  line-height: 14px;
}

#extrato span.value {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0px;
  display: inline-block;
  margin: 15px 0px;
}

#extrato .row.tiles .col {
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #838383;
  border-radius: 8px;
  padding: 10px 0px;
  margin: 2px;
}

#extrato span.acumulados {
  color: #F68F11;
}

#extrato span.bloqueados {
  color: #5E5D60;
}

#extrato span.utilizados {
  color: #F1131C;
}

#extrato span.disponiveis {
  color: #8CC33E;
}

#extrato .tiles {
  margin-bottom: 20px;
}

#extrato .header .col {
  text-align: center;
  font-size: 11px;
}

#extrato .fundoPontos {
  text-align: center;
}

#extrato .fundoPontos > div {
  text-align: center;
  font-size: 12px;
  background-color: #92C844;
  width: 25px;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  display: inline-block;
}

#home {
  text-align: center;
}

#home .tile-button {
  cursor: pointer;
}

#home .tile-button {
  background-color: white;
  height: 172px;
  width: 125px;
  border-radius: 5px;
  box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.22);
  padding-top: 40px;
  display: inline-block;
  width: 100%;
}

#home .tile-button i, #home .tile-button span {
  color: #6d2b91;
  text-align: center;
  display: block;
}

#home .tile-button i {
  font-size: 60px;
}

#home .tile-button span {
  font-size: 10px;
}

#home .has-header {
  top: 79px;
}

#home ion-content {
  padding-top: 50px;
}

#home .copyright {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 20px;
  font-size: 10px;
  width: 100%;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

#senha-input > .col {
  padding-left: 0px;
}

.senha-input > .row > .col {
  padding-right: 0px;
}

h1 {
  margin-bottom: 0px;
}

.cpf-input .header {
  padding: 0px;
}

.cpf-input .header .col {
  padding: 0px;
}

#senha-input {
  padding: 0px;
}

#senha-input button {
  padding-right: 0px;
}

ion-footer-bar {
  height: 93px !important;
  background-color: #67288B !important;
  border: none !important;
}

ion-footer-bar h1 {
  margin-top: 30px !important;
  width: 100% !important;
}

.menu .bar-header {
  height: 78px;
  background-color: #67288B;
}

ion-side-menu-content.add-bar .bar.bar-stable {
  background-color: #67288B !important;
}

.bar-stable .button.button-clear {
  margin-top: 16px;
  margin-left: 20px;
}

.bar-stable .button.button-clear i {
  color: #f7941d;
}

.title.title-center.header-item, .platform-android .bar .title {
  top: 20px;
  padding-top: 15px;
}

.bar.bar-stable {
  background-color: #48295E;
  height: 78px !important;
  border: none !important;
}

.bar-stable .button.button-icon {
  color: #ffffff;
  margin-left: 15px;
  margin-top: 15px;
}

#nav-logo {
  position: absolute;
  width: 206px;
  height: 93px;
  left: 50%;
  margin-top: 5px;
  margin-left: -93px;
  /* Half the width */
  z-index: 4;
  -webkit-transition: left 0.5s;
}

.has-header {
  top: 79px;
}

body.menu-open #nav-logo {
  left: 130px !important;
}

.list {
  margin-top: 20px;
}

.list ion-item, .list .item-content {
  background-color: transparent;
  border: none;
  font-size: 12px;
  color: #6d2b91;
}

.list .item {
padding: 0px!important;}

.list .item.item-complex {
  padding-left: 0px;
}

.list .item.activated, .list .item-content.activated {
  background-color: #f7941d;
}

.list .item-content {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 20px;
}

ion-side-menu ion-content {
  background: none;
  background-color: white;
}

#listVenda ion-content {
  background-color: white;
  background: white;
}

#listVenda * {
  color: #4A4A4A;
  font-size: 14px;
}

#listVenda .itemGray {
  background-color: #EBEBEC;
}

#listVenda .list {
  margin-top: 0px;
}

#listVenda span.title {
  font-size: 11px;
}

#listVenda span.bold, #listVenda p.bold {
  font-weight: 600;
  color: #757575;
}

#listVenda i {
  padding: 3px;
}

#listVenda hr {
  margin: 0px;
}

#listVenda i.icon.ion-loop {
  color: #F99217 !important;
}

#listVenda i.icon.ion-android-time {
  color: #148ECC !important;
  font-size: 23px;
}

#listVenda i.icon.ion-android-done {
  color: #8BCA3D !important;
}

#listVenda i.icon.ion-close {
  color: #EE1B26 !important;
  font-size: 20px !important;
}

#listVenda i.icon {
  font-size: 25px;
}

#listVenda i.icon.unable {
  color: #CFCFCF !important;
}

@font-face {
  font-family: 'OfficinaSerif';
  src: url("../font/ITC Officina Serif Std/OfficinaSerifStd-Bold.otf");
}

* {
  color: white;
}

.button.button-vivo {
  background-color: #f7941d;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 13px 30px;
  margin-left: 16px;
}

.input-options {
  font-size: 10px;
}

label.checklabel {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  line-height: 16px;
}

input[type="password"], input[type="text"] {
  padding-left: 10px;
  font-size: 16px;
}

button[type="submit"] {
  background-color: transparent;
  border: none;
}

input[type="checkbox"] {
  background-color: #ffffff;
  border-radius: 5px;
  width: 15px;
  height: 15px !important;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
  display: inline;
}

.divisao {
  width: 100%;
}

ion-content {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background: #67288B;
  /* Fallback background color for non supported browsers */
  background-image: -moz-radial-gradient(center 45deg, circle cover, #7E47A4, #000000);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 800, from(#7E47A4), to(#000000));
}

h1, .title.title-center.header-item, .platform-android .bar .title {
  font: 700 28px/20px OfficinaSerif;
  text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.22);
  color: #ffffff;
  text-align: center;
}

label {
  color: #ffffff;
  font: 400 13px/20px Arial;
  line-height: 20px;
  display: block;
}

input, .item-select select, .item-select {
  background-color: #ffffff;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 50px !important;
}

select option, .item-select select, .item-select {
  color: black !important;
}

.popup-container.popup-showing {
    
    visibility: visible;
    
}

.popup-container col-xs-4 {
  text-align: center;
}

.popup-container .popup .popup-buttons {
  padding-top: 0px;
}
.popup-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 10px;
  min-height: 65px;
}

.popup-container .popup {
  -webkit-animation-name: superScaleIn;
  animation-name: superScaleIn;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.popup-open .popup-backdrop, .popup-open .popup {
  pointer-events: auto;
}
.popup-container .popup {
  width: 100px;
  max-height: 90%;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popup-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  z-index: 12;
  visibility: hidden;
}


.popup-container .popup {
  width: 400px;
  background-color: #f7941d;
  box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.22);
}

.popup-container .popup {
  width: 400px;
  background-color: #f7941d;
  box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.22);
}

.popup .col-xs-4 span {
    
    font-size: 70px;
    margin-top: 40px;
    margin-left: 30px;
    color: #6d2b91;
    
}

.popup-container col-xs-4 {
  text-align: center;
}

.popup-container col-xs-4 i {
  font-size: 80px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  color: #6d2b91;
}

.popup-container .popup .popup-head {
  border: none;
  padding-bottom: 5px;
}

.popup-container .popup .popup-head h3 {
  text-align: left;
  color: #6d2b91;
  font: 700 20px/18px Arial;
}

.popup-container .popup .popup-body {
  padding-bottom: 0px;
}

.popup-container .popup .popup-body span {
  color: #6d2b91;
  font: 400 15px/16px Arial;
}

.popup-container .popup .popup-buttons {
  padding-top: 0px;
}

.popup-container .popup .popup-buttons button {
  font-weight: 600;
  background: none;
  border: none;
  color: #6d2b91;
  text-align: left;
  padding-left: 0px;
}

#form-email-ajuda label {
    color: #ED9B28;
}

ul.menu-amarelinho li {
    float: left;
    margin: 0px;
}

ul.menu-amarelinho li a {
    font-size: 9px;
    color: #F7941E;
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px solid #F7941E;
}

ul.menu-amarelinho {
    list-style: none;
    margin: 0px;
    margin-left: 15px;
}
